<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <add key="PathToPlaceLog" value="\log\" />
    <add key="PathToDeleteFile" value="C:\Windows\Temp" />
    <add key="PathToDeleteFile2" value="\AppData\Local\Temp" />
    <add key="DaysToKeepFile" value="0" />
  </appSettings>
</configuration>